body {
    color: white;
    background: GREEN;
    margin: 0px;
}

header {
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

section {

    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

h1 {
    font-size: 40px;
  }
  
  p {
    font-size: 20px;
  }
  
  .categoria-videos {
    display: flex;
  }